<body style="
    background: #ce5123;
">
<h1>Burguer do Ze</h1>
O melhor hamburguer de SP since 2015<br>
Promoção 2 hamburguers por 50,00<br>
<img src="https://blog.castellmaq.com.br/wp-content/uploads/2020/05/como-abrir-uma-hamburgueria.jpg" style="
    width: 254px;
">
</body>
