<body style="
    background: #171615;
    color:aliceblue;
">
<h1>Venda de veículo</h1>
Jeep Compass<br>
100.000,00<br>
Contato <a href="https://api.whatsapp.com/send?phone=5511995860038&text=Oi,%20estou%20interessado%20na%20compra%20do%20Jeep">(11)99586-0038</a><br>
<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT1ygdpPojQr8heYHcJPOJitT8trAn6-IhbbA&usqp=CAU" style="
    width: 254px;
">
</body>
